/* Author: @johnoshea */

	body {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.main p {
	
	text-align: center;
	margin: 20px 5px 5px 5px;
	min-height: 50px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	}
	
	.main .round{
	margin-bottom: 40px;
	width: auto;
	float: none;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 10px 10px 5px #713701;
	border-radius:15px;
	color: #713701;
	line-height: normal;
	background: #F8D4B3;
	}

	.main .free{
	width: auto;
	float: none;
	padding-left: 20px;
	padding-right: 20px;
	}


